body {
  font-family: Consolas, consola, monospace;
  font-size: 16pt;
/*  background-image: url(../global/images/tile10p.png); */
}

a:link {
  color: black;
  background-color: transparent;
}

a:visited {
  color: black;
  background-color: transparent;
}

@font-face {
  font-family: consola;
  src: url(../global/fonts/consola.ttf);
}